@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #f6f4f6;
  font-family: 'Red Hat Display', sans-serif;
}

.header{
  margin-top: 0;
  background-color: #FBEEFF;
  height: 95px;
}

.title{
  font-size: 39.06px;
  font-weight: 900;
  line-height: 51.68px;
  letter-spacing: -0.01em;
  text-align: left;
  margin-top: 3rem;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: rgb(201, 131, 208);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

.search{
  width: 80vw;
  height: 45px;
  top: 275px;
  left: 73px;
  gap: 0px;
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;
  margin-top: 2rem;
}

.searchbar{
  display: flex;
  align-items: center;
  justify-content: center;
}
.search-icon{
  left: 4.2rem;
}

.centered {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.centered-register {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 2rem;
}

.contact-data{
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 8rem;
}

.subtitle {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 20px;
  text-align: center;
  font-weight: 700;
  line-height: 26.46px;
  margin-top: 20px; /* Ajusta según sea necesario */
}

.button {
  background-color: #9378FF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 60px;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px; 
  cursor: pointer;
  padding: 1rem 3rem;
}

.contacts-container {
  width: 100%; 
  display: flex;
  justify-content: center; 
}
.contacts-data {
  display: flex;
  width: 100%; 
  justify-content: center; 
  flex-direction: column;
  align-items: center;
}

.contacts {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(3, minmax(200px, 1fr)); 
  gap: 20px; 
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.add-contact-div{
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.contact-card {
  display: grid;
  grid-template-columns: repeat(3, 30% 50% 20%); 
  height: 119px;
  border: 1px solid #FBEEFF;
  border-radius: 16px;
  align-items: center;
  padding: 0 10px;
  background-color: #FFFFFF;
}


.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.column-contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.arrow-icon {
  font-size: 40px; 
  color: #99879D;
  padding: 10px;
  border-radius: 50%;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.contact-name {
  font-family: 'Red Hat Display', sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: #120E21;
  margin-bottom: 5px; 
}

.contact-profession {
  font-family: 'Public Sans', sans-serif;
  font-size: 12.8px;
  color: #99879D;
}

.header-profile{
  width: 80vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 278px;
  top: 2rem;
  gap: 0px;
  border-radius: 16px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background: #EBEBEB;
  position: relative;
}

.profile-image {
  width: 186px;
  height: 186px;
  top: calc(100% - 186px / 2); 
  left: 50%;
  transform: translateX(-50%); 
  gap: 0px;
  border: 2px solid black; 
  opacity: 1; 
  position: absolute;
  z-index: 1; 
  border-radius: 50%;
}

.contact-details {
  display: flex;
  width: 400px;
  justify-content: space-between;
  margin-top: 20px;
}

.column {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.column p {
  margin-bottom: 10px;
}

.edit-button {
  position: absolute;
  right: 3rem;
  top: 11rem;
  cursor: pointer;
}
.edit-button-download {
  position: absolute;
  right: 5rem;
  top: 14rem;
  cursor: pointer;
}

/* Estilos para los inputs */
.form-input {
  background: #FBEEFF;
  width: 343px;
  height: 56px;
  color: #99879D;
  gap: 0px;
  padding-left: 1rem;
  border-radius: 8px 0px 0px 0px;
  opacity: 0px;
}

/* Estilos para los contenedores de los inputs */
.edit-contact-form {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.input-group {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:start;
  gap: 1rem;
  margin-bottom: 16px;
}

.form-column {
  display: flex;
  flex-direction: column;
}


.save-button, .cancel-button {
  width: 100px;
  height: 40px;
  margin-right: 10px;
  background-color: #9378FF;
  color: #fff;
  border: none;
  border-radius: 60px;
  cursor: pointer;
  margin-bottom: 2rem;
}
.add-button{
  background-color: #9378FF;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 60px;
  font-family: 'Red Hat Display', sans-serif;
  font-size: 16px;
  font-weight: 700;
  cursor: pointer;
  padding: 1rem 3rem; 
  margin-bottom: 2rem;
}

.cancel-button {
  background-color: #ccc;
}

#file-input{
  display: none;
}

.file-div {
  display: flex;
  align-items: center; /* Centra verticalmente */
  gap: 1rem; 
  padding: 0 1rem;/* Espacio entre los elementos */
}

.upload-label {
  flex: 1; /* El texto ocupa el espacio restante */
}

.edit-button-download-file {
  cursor: pointer;
  margin-right: 1rem; /* Cambia el cursor al pasar sobre el ícono */
}


.contact-data-mobile{
  display:none;
}

@media (max-width: 768px) {
  .contact-card {
    flex: 1 1 calc(100% - 1rem); /* Hace que cada tarjeta ocupe el 100% del ancho */
  }

  .contact-data{
    display: none;
  }
  .edit-button-download{
    display: none;
  }
  .edit-button{
    display: none;
  }

  .header{
    margin-top: 0;
    background-color: #f6f4f6;
    height: 95px;
  }
  .title{
    font-size: 39.06px;
    font-weight: 900;
    line-height: 51.68px;
    letter-spacing: -0.01em;
    text-align: left;
    margin-top: 0rem;
    margin-left: 1rem
  }
  .search{
    width: 90vw;
    height: 45px;
    top: 275px;
    left: 73px;
    gap: 0px;
    border-radius: 8px 0px 0px 0px;
    opacity: 0px;
    margin-top: 1rem;
  }

  .searchbar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .search-icon{
    bottom: 1rem;
    left: .4rem;
  }
  .contacts {
    grid-template-columns: 1fr; 
    gap: 0;
    margin-top: 0.5rem;
    
  }

  .contacts-container {
    background-color: #FAF9FE;
  }

  .contact-card {
    width: 100vw;
    width: 375px;
    border-radius: 0px;
    height: 103px;
    top: 256px;
    gap: 0px;
    opacity: 0px;
    margin: 0;
  }
  .contact-card.odd {
    background-color: #FAF9FE;
  }
  
  /* Estilos para las tarjetas impares */
  .contact-card.even {
    background-color: #FFFFFF;
  }
  
  .contact-name{
    text-align: center;
  }
  .arrow-icon {
    margin-left: 2.5rem;
  }
  
  .edit-contact-form {
    display: flex;
    flex-direction: column; 
    gap: 0rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
  }

  .form-column {
    display: flex;
    flex-direction: column;
    gap: 0rem; /* Añadir espacio entre los campos */
  }
  .input-group {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:start;
    gap: 0rem;
    margin-bottom: 16px;
  }
  .header-profile{
    width: 95vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 173px;
    top: 0rem;
    gap: 0px;
    border-radius: 16px 0px 0px 0px;
    border: 1px 0px 0px 0px;
    opacity: 0px;
    background: #FBEEFF;
    position: relative;
  }
  .profile-image {
    width: 82px;
    height: 82px;
    top: 1rem; 
    left: 50%;
    transform: translateX(-50%); 
    gap: 0px;
    border: 2px solid transparent; 
    opacity: 1; 
    position: absolute;
    z-index: 1; 
    border-radius: 50%;
  }
  .contact-data-mobile{
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 6rem;
  }
  .contact-details {
    display: flex;
    width: 80vw;
    flex-direction: column; 
    margin-top: 20px;
  }
  
  .column {
    display: block;
    flex-direction: column; 
    justify-content: center;
    padding-left: 1rem;
    align-items: flex-start; 
    text-align: start; 
  }

  .edit-button-mobile {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  
}